* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #F8FAFC;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 100%;
    max-width: 1440px;
    height: 120px;
    padding: 0 80px;
    margin: 0 auto;
    background-color: #ffffff;
    border-bottom: 1px solid #E0E0E0; 
    box-sizing: border-box;
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 145px;
    height: 75px;
}

.logo-icon {
    width: 72px;
    height: 72px;
    flex-shrink: 0;
}

.logo-text {
    height: 80px;
    width: 93px;
    max-width: 93px;
    object-fit: contain;
}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 48px;
    flex-wrap: wrap;
}

.navbar nav a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #19A7CE;
    text-decoration: none;
    white-space: nowrap;
}



.footer {
    background-color: #E7F5FC;
    color: black;
    padding: 50px 40px 20px;
    max-width:1440px;
    align-items: center;
    margin: 0 auto;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 30px;
}

.footer-brand h4 {
    margin-bottom: 8px;
    font-size: 28px;
}

.footer-brand p {
    font-size: 20px;
    color: #000000;
    max-width: 384px;
    font-weight:400;
}

.footer-col h5 {
    margin-bottom: 12px;
    margin-top:45px;
    font-size: 24px;
    font-weight:600;
    
}

.footer-col a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 8px;
    font-weight:300;
    font-style:light;
}

.view-all-link {
    color: #0D83C5 !important;
    font-weight: 600;
    margin-top: 8px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #79797999;
    max-width: 1277px;
    margin-left: auto;
    margin-right: auto;
}

.footer-copyright {
    font-size: 13px;
    color: #333333;
    margin-bottom: 8px;
}

.footer-legal {
    font-size: 11px;
    color: #333333;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        height: auto;
        padding: 16px 20px;
    }
    .navbar nav {
        margin-left: 0;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 12px;
    }
    .footer-grid {
        flex-direction: column;
    }
}